.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__heart-icon {
  background-image: url(../images/heart-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__heart-icon:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 200px;
  }
}
