.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  background-color: white;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  font-weight: 500;
  margin: 0 0 32px;
  padding: 0;
  font-size: 32px;
}

.modal__close-btn {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 40%;
}

.modal__close-btn:hover {
  color: rgba(33, 33, 33, 1);
  opacity: 1;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 7px 16px 12px;
  text-overflow: ellipsis;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit {
  padding: 18px 58px;
  max-width: 156px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
}

.modal__submit:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .modal__submit {
    width: 100%;
    max-width: none;
  }
}
